
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


:root{
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(31, 31%, 85%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--mb: 1em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
}
.container{
    display: flex;
    flex-direction: row;
   
}
.desktopimg{
    width: 17em;
    border-radius: .50em 0 0 .50em;
}
.mobileimg{
    display: none;
}
.info{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--White);
    border-radius:0 .50rem .50em 0;
    max-width: 18em;
}
.p-faint{
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    letter-spacing: 3px;
    margin-bottom:var(--mb);
}
.info>h1{
    font-family: 'Fraunces', serif;
    margin-bottom:.5em;
    color: var(--Very-dark-blue);
}
.description{
    margin-bottom:1.5em;
    line-height: 1.4em;
    color: var(--Dark-grayish-blue);
}
.discount{
    display: flex;
    gap: 1.5em;
    align-items: center;
    margin-bottom:var(--mb);
}
.discount h1{
    color: var(--Dark-cyan);
    font-family: 'Fraunces', serif;
}
.slashed{
    color: var(--Dark-grayish-blue);
    font-size: 12px;
}
.cta{
    width: 100%;
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    background-color: var(--Dark-cyan);
    font-family: 'Montserrat', sans-serif;
    padding: .9em;
    border-style:none;
    border-radius: .50em;
}

@media (max-width:600px){
    /* body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    } */
    .container{
        flex-direction: column;
        width: 90%;
       
    }
    .desktopimg{
        display: none;
    }
    .mobileimg{
        display: block;
        border-radius: .50em .50em 0 0;
    }
    .info{
        border-radius:0 0 .50em .50em;
        max-width: 100%;
    }
    .description{
        line-height: 1.5em;
    }
    .desktopimg{
        width: 16em;
        border-radius: .50em 0 0 .50em;
    }
}
